@charset "utf-8";

/* Définition des variables de couleur pour une cohérence sur tout le site */
:root {
    --primary-color: #032340;    /* Bleu nuit */
    --secondary-color: #3F5559;  /* Gris-bleu sombre */
    --accent-color: #8D9FA6;     /* Gris acier */
    --light-bg: #E4F2F1;         /* Fond clair */
    --hover-color: #C5D7D9;      /* Couleur de survol */
    --white: #F0F0F0;
    --shadow: rgba(0, 0, 0, 0.4);
}

/* Police utilisée pour les gros titres */
@font-face {
    font-family: 'Cinzel Decorative';
    src: url('../font/CinzelDecorative-Regular.woff2') format('woff2'),
        url('../font/CinzelDecorative-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Police utilisée pour les petits titres */
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../font/CormorantGaramond-Regular.woff2') format('woff2'),
        url('../font/CormorantGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Police utilisée pour le texte */
@font-face {
    font-family: 'Lora';
    src: url('../font/Lora-Regular.woff2') format('woff2'),
        url('../font/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* --- reset et base --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Important pour que les tailles incluent les bordures */
}

body {
    background-color: var(--light-bg); /* Couleur Fond de page */
    color: var(--secondary-color); /* Couleur texte principal */
    font-family: 'Lora', serif; /* Police par défaut pour le texte */
    line-height: 1.6;
    min-height: 100vh; /* Force le corps à faire au moins 100% de la hauteur de l'écran */
    display: flex; /* Active le mode Flexbox */
    flex-direction: column; /* Empile les éléments (Header, Main, Footer) verticalement. */
    cursor: url('../image/cursor3.png'), auto; /* Curseur personnalisé */
}

/* Typographie (Gros titres, etc.) */
h1 {
    font-family: 'Cinzel Decorative', serif; /* Police Cinzel Decorative */
    font-weight: 400; /* On force 400 car c'est la seule version qu'on a */
    color: var(--primary-color); 
    text-align: center;
    margin-top: 5vh;
    font-size: 2.5rem;
}

/* Typographie (Petits titres, etc.) */
h2 {
    font-family: 'Cormorant Garamond', serif; /* Police Cormorant Garamond */
    font-weight: 300; 
    color: var(--primary-color);   
    font-size: 3rem;
    border-bottom: 1px solid var(--accent-color); 
    padding-bottom: 10px;
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

/* Typographie (Texte, etc.) */
p {
    color: var(--light-bg); 
    font-family: 'Lora', serif; /* Police Lora */
    font-size: 1.1rem;
    padding-right: 1vh;
    padding-left: 1vh; 
}

/* Style des listes */
ul {
    list-style: none;
}

/* Pas de soulignement des liens */
a {
    text-decoration: none;
}

/* Loader des pages volumineuse */
#page-loader {
    position: fixed; /* Reste fixe même si on scroll */
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color); /* Couleur sombre de la charte graphique */
    z-index: 9999; /* Toujours au-dessus de tout le contenu */
    display: flex; /* Activation mode flexbox */
    flex-direction: column; 
    justify-content: center; /* on centre horizontalement */
    align-items: center; /* on centre verticalement */
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out; /* Pour une disparition douce */
}

/* État 'hidden' (géré par JS) pour masquer le loader */
#page-loader.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; /* Empêche les clics fantômes sur le contenu */
}

.loader-bobine {
    width: 80px; /* taille en pixel par simplicité */
    height: 80px;
    border: 8px solid var(--light-bg); /* Contour de la bobine (Couleur claire) */
    border-radius: 50%; /* Forme circulaire */
    border-top-color: transparent; /* Crée l'effet de vide de la bobine */
    position: relative;
    /* Animation de rotation */
    animation: spin 1.2s linear infinite;
    margin-bottom: 20px;
}

/* Le petit trou central de la bobine */
.loader-hole {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: var(--light-bg);
    border-radius: 50%;
}

/* Texte de chargement */
#page-loader p {
    color: var(--light-bg); 
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

/* Animation page de chargement */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* style des balises main */
main {
    flex-grow: 1;
    display: flex; /* activation du mode flexbox */
    flex-direction: column;
    max-width: 1280px; /* La largeur ne s’étale plus indéfiniment  */
    margin-left: auto; /* on centre la page */
    margin-right: auto;
}

/* header et navigation */
.main-header {
    position: sticky; /* navigatio sticky */
    top: 0;
    z-index: 3000; /* par dessus la page */
    background-color: var(--secondary-color);
    padding: 5px 40px;
    display: flex;
    align-items: center;
    height: 100px;
    border-radius: 0 0 2vh 2vh; /* bordure du bas arrondie quand la page est supérieur à 1280px */
}

/* Conteneur du logo */
.logo-container {
    flex-shrink: 0; /* Empêche le logo de s'écraser */
    margin-right: 5vh; 
}

/* Image du logo */
.logo-img {
    max-height: 100px; 
    width: auto;
    display: block;
    cursor: url(../image/cursor2.PNG), pointer;
}

/* Menu de navigation principal */
.nav-menu {
    flex-grow: 1;
    z-index: 3000;
}

/* Liste des liens de navigation */
.nav-menu > ul {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100%; 
    margin: 0;
    padding: 0; 
}

/* Boutons de navigation */
.nav-btn {
    display: block;
    background-color: var(--white);
    position: relative;
    color: #000;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 15px 0 15px 0; /* Forme feuille */
    transition: all 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    cursor: url(../image/cursor2.PNG), pointer;
}

/* Effet au survol des boutons */
.nav-btn:hover {
    background-color: var(--hover-color);
    transform: translateY(-2px);
}

/* Menu déroulant */
.dropdown {
    position: relative;
}

/* Sous-menu caché par défaut */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary-color);
    padding: 10px 0;
    border-radius: 0 0 15px 15px;
    min-width: 200px;
    z-index: 1000;
    flex-direction: column;
    gap: 5px;
}

.submenu li {
    width: 100%;
}

/* style des liens des sous menu */
.submenu li a {
    color: var(--white);
    font-family: 'Lora', serif;
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    text-align: center;
    cursor: url(../image/cursor2.PNG), pointer;
}

/* survole */
.submenu li a:hover {
    color: var(--hover-color);
    padding-left: 15px;
    transition: 0.2s;
}

/* Affichage du sous-menu au survol */
.dropdown:hover .submenu {
    display: flex;
}
/* fin navigation */

/* contenu de la page d'accueil */
.contenu {
    flex-grow:1;
    position: relative;
    width: 100%;      
    display: flex; /* mode flexbox */
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Important, coupe la vidéo si elle dépasse */
}

/* Vidéo en arrière-plan */
.contenu-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Prend tout l'écran */
    z-index: -1; /* Doit être en arrière plan */
}

/* Bloc du titre principal */
.contenu-title-box {
    margin-top: 150px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    padding: 20px 60px;
    border-radius: 10px;
}

/* Style du titre de la page d'accueil */
.contenu-title-box h1 {
    margin: 0;
    color: var(--hover-color);
    font-family: 'Cinzel Decorative', serif;
    font-size: 3rem;
    text-transform: capitalize;
}

/* Conteneur principal avec texte et image */
.conteneur {
    position: relative;
    margin: auto;
    width: 90%;
    max-width: 1200px;
    height: 150px;
    background-color: rgba(117, 117, 117, 0.8);
    display: flex;
    align-items: center;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    margin-bottom: 0;
    margin-top: auto;
}

/* Conteneur secondaire en colonne */
.conteneur-2 {
    position: relative;
    margin: auto;
    width: 90%;
    height: auto;
    background-color: rgba(117, 117, 117, 0.8);
    display: flex;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    margin-bottom: 5vh;
    margin-top: 1vh;
    flex-direction: column;
}

.conteneur-2 a{
    color: var(--primary-color);
}

/* effet de survol */
.conteneur-2 a:hover{
    color: var(--primary-color);
    text-decoration: underline;
}

/* Texte du conteneur secondaire */
.conteneur-2-text {
    text-align: justify;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-top: 3vh;
}

/* Images du conteneur secondaire */
.conteneur-2-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45vh; 
    padding-top: 5vh;
    padding-bottom: 5vh;
}

/* Gestion de l'image du conteneur secondaire */
.conteneur-2-img img { 
    border-radius: 15px;
    display: block;
    margin: auto;
}

/* Description de l'image */
figcaption {
    color: var(--light-bg); 
    font-family: 'Lora', serif;
    text-align: center;
}

/* Texte du conteneur principal */
.conteneur-text {
    flex: 2;
    font-family: 'Lora', serif;
    color: var(--light-bg);
    font-size: 1.1rem;
    text-align: justify;
    margin: 1vh 1vh 1vh 8vh;
}

/* Images du conteneur principal */
.conteneur-img {
    height: 90%;
    padding-right: 50px;
}

/* Gestion de l'image du conteneur principal */
.conteneur-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Slide du diaporama */
.mySlides {
    display: none;  /* Cache toutes les slides par défaut */
    height: 100%;  
    width: 100%;
    align-items: center; /* Centre le contenu verticalement */
}

/* Boutons suivant/précédent */
.prev, .next {
  cursor: url(../image/cursor2.PNG), pointer; /* Curseur personnalisé */
  position: absolute;
  top: 50%; /* Centrage vertical */
  width: auto;
  padding: 16px;
  margin-top: -22px; /* Ajustement fin du centrage */
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease; /* Animation au survol */
  border-radius: 0 3px 3px 0;
  user-select: none; /* Empêche la sélection du texte */
  background-color: rgba(0,0,0,0.3); /* Lisibilité sur l’image */
}

/* Bouton suivant placé à droite */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Effet hover sur les flèches */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* --- Points de navigation (dots) --- */
.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px; /* Un peu d'espace entre les points */
    background-color: #bbb; /* Gris clair par défaut */
    border-radius: 50%; /* Rond */
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: url(../image/cursor2.PNG), pointer; /* Pour montrer qu'on peut cliquer */
}

/* Point actif correspondant à la slide affichée */
.active-dot {
    background-color: var(--primary-color); /* Bleu nuit */
    border: 1px solid #FFF; /* Petit contour blanc pour le style */
}

/* --- Conteneur des dots --- */
.dots-container {
    position: absolute;
    bottom: 10px;      /* Les dots se placent en bas du conteneur */
    width: 100%;
    text-align: center;
    z-index: 20; /* Au-dessus des images */
}

/* timeline faite grâce à w3school */
.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

/* Ligne centrale de la timeline */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color:var(--secondary-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Élément individuel de la timeline */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* Cercle de repère sur la timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: var(--secondary-color);
  border: 4px solid var(--accent-color);
  top: 50px;
  border-radius: 50%;
  z-index: 1;
}

/* Bloc de la timeline placé à gauche */
.left {
  left: 0;
}

/* Bloc de la timeline placé à droite */
.right {
  left: 50%;
}

/* Flèche reliant le bloc gauche à la ligne centrale */
.left::before {
  content: " "; /* Pseudo-élément décoratif */
  height: 0;
  position: absolute;
  top: 57px; /* Alignement vertical avec le cercle */
  width: 0;
  z-index: 1;
  right: 30px; /* Position de la flèche */
  border: medium solid var(--secondary-color); /* Couleur de la flèche */
  border-width: 10px 0 10px 10px; /* Forme triangulaire */
  border-color: transparent transparent transparent var(--secondary-color);
}

/* --- Flèche pointant vers la ligne centrale (bloc droit) --- */
.right::before {
  content: " "; /* Élément décoratif */
  height: 0;
  position: absolute;
  top: 57px; /* Alignement vertical avec le cercle */
  width: 0;
  z-index: 1;
  left: 30px; /* Position de la flèche */
  border: medium solid var(--secondary-color); /* Couleur de la flèche */
  border-width: 10px 10px 10px 0; /* Forme triangulaire */
  border-color: transparent var(--secondary-color) transparent transparent;
}

/* --- Positionnement du cercle de la timeline côté droit --- */
.right::after {
left: -16px; /* Place le cercle sur la ligne centrale */
}

/* --- Contenu principal d’un événement de la timeline --- */
.content {
text-align:center; /* Texte centré */
padding-bottom: 2vh;
background-color: var(--accent-color); /* Fond de la carte */
position: relative;
border-radius: 6px; /* Coins arrondis */
}

/* --- Titre (date) dans la timeline --- */
.content h2 {
    text-align: center;
    font-size: 4em; /* Grande taille pour mise en valeur */
}


/* Formulaire */
/* Champs de saisie du formulaire */
input[type=text], select, textarea {
width: 100%; 
padding: 12px;  
border: 1px solid #ccc; /* Bordure discrète */
border-radius: 4px;  /* Coins arrondis */
box-sizing: border-box; /* Inclut padding et bordure dans la largeur */
margin-top: 6px; 
margin-bottom: 16px; 
resize: vertical /*permet à l'utilisateur d'agrandir la case massage */
}

/* Bouton d'envoi du formulaire */
input[type=submit] {
background-color: var(--secondary-color); /* Couleur secondaire */
color: var(--light-bg); /* Texte clair */
padding: 12px 20px; /* Taille du bouton */
border: none; /* Pas de bordure */
border-radius: 4px;
cursor: url(../image/cursor2.PNG), pointer; /* Curseur personnalisé */
display: block; /* Bloc centré */
margin: auto;
}

/* Effet au survol du bouton */
input[type=submit]:hover {
  background-color: var(--primary-color); /* Changement de couleur */
}

/* Conteneur global du formulaire */
.formulaire {
width: 80%;
margin: auto;
border-radius: 5px;
background-color: #f2f2f2; /* Fond clair */
padding: 5vh;
}


/* Grille principale des collaborateurs */
.collab-grid { 
    display: grid; /* Mise en page en grille */
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes de largeur égale */
    gap: 3vh; /* Espacement entre les cartes */
    padding: 3vh;
    background-color: var(--light-bg);
}

/* Bloc principal de présentation d'une catégorie */
.collab-master {
    width: 70%;
    height: auto;
    margin: auto;
    margin-bottom: 5vh;
    background-color: var(--secondary-color); 
    color: var(--light-bg);
    text-align: center;
    overflow: hidden; /* Évite les débordements */
    border-radius: 1vh 1vh 1vh 1vh; 
    box-shadow: 1vh 1vh 1vh rgba(0,0,0,0.4);
}

/* Titre du bloc principal */
.collab-master h2 {
    color: var(--light-bg);
    border-bottom: none;
    margin-bottom: 0;
}

/* Image principale du bloc */
.collab-master img {
    width: 70%;
    height: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 15px;
}

/* Carte individuelle d'un collaborateur */
.collab-detail {
    background-color: var(--accent-color);
    border-radius: 1vh;
    box-shadow: 1vh 1vh 1vh rgba(0,0,0,0.4);
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease-in-out; /* Animation fluide */
    will-change: transform, box-shadow; /* Optimisation des animations */
}

/* Image du collaborateur */
.collab-detail img {
    margin-top: 2vh;
    border-radius: 15px;
    height: 15vh; 
    object-fit: cover; /* Coupe proprement l'image */
}

/* Effet au survol d'une carte */
.collab-detail:hover {
    transform: translateY(-5px) scale(1.02); /* Légère élévation */
    box-shadow: 1.2vh 1.2vh 1.2vh rgba(0, 0, 0, 0.5);
}

/* Gestion de l'audio page collaboration */
#audio-control-btn {
    width: 50px; /* Taille fixe */
    height: 50px;
    padding: 0;
    border-radius: 50%; /* Bouton rond */
    position: fixed; /* Rend l'élément fixe par rapport à la fenêtre */
    bottom: 20px;    /* 20px du bas de l'écran */
    right: 20px;     /* 20px de la droite de l'écran */
    z-index: 5500; /* Priorité d'affichage */
    box-shadow: 0.6vh 0.6vh 0.6vh rgba(0, 0, 0, 0.4);
}

/* Icône du bouton audio */
#audio-icon {
    font-size: 1.2em; /* Taille de l'icône */
}

/* Page galerie photo */
/* Conteneur principal de la page galerie */
.gallery-page-content {
    padding: 0 2vh 5vh 2vh;
}

/* Texte d’introduction centré sous le titre */
.intro-text {
    max-width: 150vh;
    margin: auto; 
    color: var(--secondary-color); 
    font-size: 1.1rem;
    text-align: center;
    padding-bottom: 8vh;
}

/* --- Mise en page grille 3xN --- */
.photo-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Trois colonnes égales */
    gap: 3vh;
}

/* Carte individuelle d’une image */
.gallery-item {
    position: relative; /* Nécessaire pour les pseudo-éléments */
    border-radius: 2vh;
    overflow: hidden;
    box-shadow: 1.5vh 1.5vh 1.5vh rgba(0,0,0,0.4);
    cursor: url(../image/cursor2.PNG), pointer;
    background-color: #fff;
    height: 35vh; /* Force une hauteur uniforme pour toutes les images */
}

/* Image occupant toute la carte */
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Évite les déformations */
    display: block;
    transition: filter 0.4s ease;
}

/* --- Flou pour l'anti spoil --- */
.spoiler-blur {
    text-align: center;
    background-color: var(--primary-color); /* Pour cacher les bords */
}

.spoiler-blur img {
    filter: blur(8px); 
}

.spoiler-blur::after {
    content: "ATTENTION SPOIL : Cliquer pour découvrir"; /* Étiquette "Attention Spoil" */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #3F5559D9;
    padding: 1vh 1vh;
    border-radius: 2vh;
    font-family: 'Cinzel Decorative', serif;
    z-index: 10;
    font-size: 1.5vh;
}

/* État Révélé (Ajouté par JS avec l'aide d'IA) */
.revealed img {
    filter: none; 
}

/* Suppression du message spoil une fois révélé */
.revealed::after {
    display: none; 
}

/* Description qui apparaît au survole */
.gallery-caption-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    transform: translateY(100%); /* Caché en bas par défaut pour toutes les images */
    transition: transform 0.3s ease;
    z-index: 1000; 
}

/* Règle 1 : Description visible au survol uniquement pour les images NON-SPOIL */
.gallery-item:not(.spoiler-blur):hover .gallery-caption-box {
    transform: translateY(0);
}

/* Règle 2 : Description visible au survol uniquement après avoir cliqué sur l'image SPOIL */
.spoiler-blur.revealed:hover .gallery-caption-box {
    transform: translateY(0); 
}

/* Titre de la légende */
.caption-title {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

/* Description secondaire de la légende */
.caption-desc {
    font-size: 0.9rem;
    color: var(--hover-color);
    margin: 5px 0 0 0;
    padding: 0;
}

/* Page galerie vidéo */
/* Conteneur global de la page vidéo */
.video-page-content {
    margin: auto;
    padding-top: 3vh;
    padding-bottom: 7vh;
    width: 90%;
}

/* Conteneur principal qui place les vidéos les unes sous les autres */
.video-gallery-list {
    display: flex;
    flex-direction: column;
    gap: 10vh; /* Espace vertical entre chaque vidéo */

}

/* Bloc individuel d’une vidéo */
.video-item {
    position: relative;
    box-shadow: 1vh 1vh 1vh rgba(0,0,0,0.15);
    border-radius: 2vh;
    overflow: hidden; /* Évite un débordement */
    background-color: #fff;
}

/* Conteneur pour maintenir le ratio 16:9 des iframes (essentiel) */
.video-iframe-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Ratio 16:9 (9 / 16 * 100) */
}

/* Iframe responsive */
.video-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    transition: filter 0.4s ease;
}

/* Texte descriptif sous la vidéo */
.video-description {
    text-align: center;
    color: var(--primary-color);
    font-size: 1.1rem;
    padding: 15px 10px;
    margin: 0;
    background-color: var(--hover-color); /* Couleur de fond pour la description */
}

/* Système anti-spoil vidéo */
.video-item.spoiler-blur iframe {
    filter: blur(10px); /* Application du flou sur l'iframe lui-même */
    cursor: default;
}

/* Message d’avertissement centré */
.video-item.spoiler-blur::after {
    content: "ATTENTION SPOIL VIDÉO : Cliquer pour voir";
    position: absolute;
    width: 30%;
    height: 30%; /* Couvre toute la zone de la vidéo */
    background-color: #03234066;
    color: white;
    font-family: 'Cinzel Decorative', serif;
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
    cursor: url(../image/cursor2.PNG), pointer;
}

/* État Révélé (Ajouté par JS avec l'aide d'une IA) */
.video-item.revealed iframe {
    filter: none; /* Supprime le flou */
}

.video-item.revealed::after {
    display: none; /* Cache la banderole d'avertissement */
}

/* Footer */
footer {
    background-color: #000; /* Fond noir pour rester discret */
    color: #555;
    text-align: center;
    padding: 10px 0;
    font-family: 'Cinzel Decorative', serif;
    font-size: 1.5rem;
    margin-top: auto;
}

footer p {
    margin: 2px 0; /* Juste un tout petit espace entre les deux lignes de texte */
    padding: 0;    /* On s'assure qu'il n'y a pas de gras superflu */
    max-width: 100%; /* On enlève la limite de largeur du p général */
}

/* Page filmographie */
.section-background {
  background-attachment: fixed; /* Image fixe pour l'effet parallax */
  background-position: top center;
  background-size: cover;
  height: 100vh; /* Section plein écran */
  width: 100%;
  color: #FFFFFF;
  display: flex; /* Centrage du titre */
  justify-content: center;
  align-items: center;
}

/* Titre affiché sur l'image */
.section-background h1 {
    background-color: #3F555966; /* Fond semi-transparent */
    border-radius: 2vh;
    padding: 1vh 1vh 1vh 1vh;
    color: var(--hover-color);
}

/* Images de fond spécifiques à chaque film */
.parallax {
  background-image: url("../image/inception_back.jpg"); 
}
.parallax1 {
  background-image: url("../image/inter_back.jpg");
}
.parallax2 {
  background-image: url("../image/oppen_back.jpg");
}
.parallax3 {
  background-image: url("../image/batman_back.jpg");
}

/* Bloc de texte entre deux sections parallax */
.text-bloc {
    background-color: var(--secondary-color);
    height: auto;
    display: flex; /* Centrage du contenu */
    align-items: center;
    justify-content: center;
    text-align: justify; /* Lisibilité du texte */
    padding: 2vh 1vh 2vh 1vh;
}

/* Texte descriptif des films */
.text-bloc p {
  font-size: 1.7em;
}

/* Page de récompense */
.award-page-content {
    width: 90%; /* Largeur centrée */
    height: auto;
    margin: auto; /* Centrage horizontal */
    padding: 1vh; /* Marge interne légère */
}

/* Liste verticale des récompenses */
.award-list {
    display: flex;
    flex-direction: column; /* Cartes empilées */
    gap: 5vh; /* Espacement entre cartes */
}

/* Carte individuelle de récompense */
.award-item {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 15px #03234066;
    overflow: hidden; /* Coupe les débordements */
    background-color: var(--hover-color); /* Fond de la carte */
    padding: 20px;
    transition: all 0.3s ease;
}

/* Contenu flou sur la carte elle-même */
/* Applique le flou à tout le contenu sauf l'indice */
.award-item.spoiler-blur::before {
    content: "";    /* Cache tout le contenu lisible (titre, description, image) */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3F5559D9; /* Bleu nuit opaque */
    z-index: 15; /* Au-dessus de l'indice (z-index 10) */
    transition: opacity 0.4s ease;
    cursor: url(../image/cursor2.PNG), pointer;
}

/* Flou appliqué au contenu masqué */
.award-item.spoiler-blur .award-content {
    filter: blur(8px);
    transition: filter 0.4s ease;
}

/* Suppression du masque une fois révélé */
.award-item.revealed::before {
    display: none;
}

/* Ceci annule l'étiquette 'ATTENTION SPOIL : Cliquer pour découvrir' */
.award-item.spoiler-blur::after {
    content: none;
    display: none;
}

/* Indice textuel */
.award-hint {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    z-index: 20; 
}

/* Texte d’indice */
.hint-text {
    font-family: 'Lora', serif;
    font-size: 1.3rem;
    color: var(--light-bg); /* Texte de l'indice très clair */
    padding: 10px;
    border: 2px solid var(--light-bg);
    border-radius: 5px;
}

/* Contenu Révélé */
/* Le conteneur du titre/description/image */
.award-content {
    transition: filter 0.5s ease, opacity 0.5s ease;
}

/* Image de la récompense */
.award-content img {
    display: block; 
    width: 40%; 
    height: auto;
    float: none; 
    margin: 20px auto 0 auto; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

/* Titre de la récompense */
.award-title {
    font-family: 'Cormorant Garamond', serif;
    color: var(--primary-color);
    font-size: 2.2rem;
    margin-bottom: 10px;
}

/* Description / contexte */
.award-context {
    color: var(--secondary-color);
    font-size: 1.1rem;
    text-align: justify;
    padding: 0; 
}

/* État Révélé */
/* Suppression du flou */
.award-item.revealed .award-content {
    filter: none;
}

/* Cache l’indice */
.award-item.revealed .award-hint {
    display: none;
}

/* Retour au style normal */
.award-item.revealed {
    background-color: var(--light-bg);
    color: var(--secondary-color);
}

/* Texte lisible après révélation */
.award-item.revealed .award-title, 
.award-item.revealed .award-context {
    color: var(--primary-color); /* Texte bien sombre sur fond clair */
}

/* Page de quiz */
/* Conteneur principal du quiz */
.quiz-page-content {
    width: 65%;
    margin: auto;
    padding-bottom: 5vh;
}

/* Carte contenant une question */
.quiz-card {
    background-color: var(--secondary-color); /* Couleur de fond sombre et élégante */
    color: var(--light-bg);
    padding: 2vh;
    border-radius: 2vh;
    box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.5);
    border-left: 1vh solid var(--primary-color); /* Touche de Bleu nuit */
    transition: opacity 0.5s ease;
}

/* Titre de la question */
.quiz-card h2 {
    font-family: 'Cinzel Decorative', serif;
    color: var(--hover-color);
    font-size: 1.8rem;
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--hover-color);
    width: 100%;
}

/* Texte de la question */
.question-text {
    font-size: 1.1rem;
    margin-bottom: 2vh;
    color: var(--light-bg);
    padding: 0;
}

/* Conteneur des réponses */
.answers-container {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    margin-bottom: 3vh;
    position: relative; 
}

/* 1. Style de base des options de réponse (le LABEL) */
.answers-container label {
    display: block;
    padding: 1.5vh;
    background-color: rgba(197, 215, 217, 0.1); /* Fond légèrement transparent */
    border-radius: 1.5vh;
    cursor: url(../image/cursor2.PNG), pointer;
    transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
    font-family: 'Lora', serif;
    color: var(--light-bg);
    font-size: 1rem;
    border: 1px solid transparent;
    width: 100%; 
}

/* Masquer les boutons radio d'origine (visuellement) */
.answers-container input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0px; 
    height: 0px;
}

/* Style appliqué au LABEL Lorsque l'input frère est coché */
.answers-container input[type="radio"]:checked + label {
    background-color: var(--accent-color); /* Couleur forte lors de la sélection (état temporaire avant validation) */
    color: var(--primary-color); 
    font-weight: bold;
    border: 0.3vh solid var(--primary-color); 
}

/* Hover sur les options */
.answers-container label:hover {
    background-color: rgba(197, 215, 217, 0.2);
    border-color: var(--hover-color);
}

/* Couleur verte pour les bonnes réponses (surligné en vert) */
.answers-container label.correct {
    background-color: #4CAF50 !important; /* Vert */
    color: white !important;
    border-color: #388E3C !important;
    font-weight: bold;
}

/* Couleur rouge pour les mauvaises réponses sélectionnées par l'utilisateur (surligné en rouge) */
.answers-container label.incorrect {
    background-color: #F44336 !important; /* Rouge */
    color: white !important;
    border-color: #D32F2F !important;
    font-weight: bold;
}

/* Boutons de navigation/soumission */
.check-btn, .continue-btn, #submit-quiz { /* Les deux boutons de confirmation/continuer */
    display: block;
    width: 100%;
    padding: 2vh;
    background-color: var(--primary-color);
    color: var(--light-bg);
    border: none;
    border-radius: 1.5vh;
    cursor: url(../image/cursor2.PNG), pointer;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
    transition: background-color 0.2s ease;
    margin-top: 10px;
}

/* Hover boutons */
.check-btn:hover, .continue-btn:hover, #submit-quiz:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

/* Le bouton Continuer est masqué au départ */
.continue-btn.hidden {
    display: none;
}

/* Le bouton Confirmer est masqué après la vérification */
.check-btn.hidden {
    display: none;
}

/* Style des résultats */
.result-box h2 {
    color: var(--light-bg);
    border-bottom-color: var(--light-bg);
}

/* Score final */
#score-display {
    font-size: 2rem;
    font-family: 'Cinzel Decorative', serif;
    color: var(--light-bg);
    text-align: center;
    margin-bottom: 1.5vh;
}

/* Score final */
#grade-message {
    font-style: italic;
    text-align: center;
    color: var(--hover-color);
    padding: 0;
}

/* Style du bouton Recommencer le Quiz */
.result-box button {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: url(../image/cursor2.PNG), pointer;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
    transition: background-color 0.2s ease;
    margin-top: 25px; 
    background-color: #D96E6E; 
    color: var(--primary-color); 
    font-weight: bold;
    box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.3);
}

/* Hover bouton recommencer */
.result-box button:hover {
    background-color: #A64747;
    color: var(--light-bg);
}

/* Cache l’élément */
.hidden {
    display: none;
}

/* Responsive */
/* cacher le titre en format ordinateur et tablette */
.mobile-header-title {
    display: none; 
}

/* Icône du menu burger (3 traits) */
.burger-menu {
    display: none; /* Caché par défaut */
    cursor: url(../image/cursor2.PNG), pointer;
    width: 30px;  /* Taille globale du bouton */
    height: 25px;
    position: relative; /* Nécessaire pour positionner les spans à l’intérieur */
    z-index: 4005; /* Toujours au-dessus du menu ouvert */
}

/* Les barres du burger */
.burger-menu span {
    display: block; /* Chaque span est une barre */
    width: 100%;
    height: 3px;
    background-color: var(--hover-color); /* Couleur claire */
    margin: 5px 0;
    transition: all 0.3s ease-in-out; /* Animation fluide (utile pour animation croix plus tard) */
    border-radius: 2px;
}

@media (max-width: 1280px) {
    /* Suppression des arrondis du header sur écrans plus petits */
    .main-header {
        border-radius: 0 0 0 0;
    }
}

/* Tablette - 768px */
@media (max-width: 768px) {
    .nav-btn {
        font-size: 1rem; /* Réduit un peu la taille */
        padding: 10px 15px; /* Réduit le padding */
    }

    .nav-menu > ul {
        gap: 5px; /* On serre un peu les boutons */
    }

    .main-header {
        /* Header plus fin */
        padding: 5px 20px;
    }
    
    .conteneur {
        width: 100%; /* Prend toute la largeur comme demandé */
        border-radius: 0; /* Suppression des arrondis */
    }

    .dropdown.active .submenu {
    display: flex;
    }

    .photo-gallery {
        grid-template-columns: repeat(2, 1fr); /* On passe à 2 colonnes égales */
        gap: 2vh; /* Réduction légère du gap sur tablette */
    }
    .gallery-item {
        height: 30vh; /* Ajustement de hauteur pour les tablettes */
    }

    .gallery-item:not(.spoiler-blur):hover .gallery-caption-box {
        transform: translateY(100%); /* désactive hover */
    }

    .gallery-item:hover .gallery-caption-box {
        transform: translateY(100%) !important; /* Force la désactivation du hover CSS */
    }
    
    /* La description est affichée uniquement via l'état JS ".caption-visible" */
    .gallery-item.caption-visible .gallery-caption-box {
        transform: translateY(0) !important; 
    }

    .video-page-content {
        max-width: 90%; /* On limite la largeur maximum */
    }

    .text-bloc {
        font-size: 0.7em; /* Diminution de la taille de police d'écriture */
    }

    .quiz-page-content {
    width: 90%; /* On adapte la largeur du quiz */
    }

    .collab-master h2 {
        font-size: 3rem; /* Diminution de la taille de police d'écriture */
    }

    .collab-detail p{
        font-size: 0.9rem; /* Diminution de la taille de police d'écriture */
    }
    
    .conteneur-2-img {
        gap: 10vh; /* Réduction de l'espace entre les images */
    }
    .conteneur-2-img img {
        width: 65%; /* Largeur d'image fixée */
    }
    
    .credits h2 {
        font-size: 2.5rem; /* Diminution de la taille de police d'écriture */
    }

    
    /* Timeline (Branche à gauche) */
    .timeline::after {
        left: 30px; /* Déplace la ligne centrale vers la gauche (30px + 3px de margin-left) */
    }

    .container {
        width: 100%; /* Les conteneurs prennent toute la largeur */
        padding-left: 70px; /* Espace pour la ligne et le cercle à gauche */
        padding-right: 25px;
    }

    /* Force tous les conteneurs à se comporter comme les éléments LEFT */
    .container.right { 
        left: 0%; /* Annule le left: 50% */
    }

    /* Cercle sur la ligne verticale */
    .container::after {
        left: 23px; /* Positionne le cercle sur la nouvelle ligne (30px - 7px de décalage) */
        right: auto; /* Annule le positionnement right: -17px */
        top: 48px; /* Monte un peu le cercle pour un meilleur alignement */
    }
    
    /* Triangle (flèche) - doit être à gauche pour tous */
    .container::before {
        left: 60px; /* Positionne la flèche à gauche du bloc de texte */
        border-width: 10px 10px 10px 0; /* Change la direction (pointe à droite) */
        border-color: transparent var(--secondary-color) transparent transparent; 
        right: auto; /* Annule l'ancienne règle right: 30px; */
    }

    /* Annulation des marges pour les flèches droite */
    .right::before {
        left: 60px; /* S'assure que la flèche des anciens éléments "right" est aussi à gauche */
    }
}

/* Tablette - 768px */
@media (max-width:426px) {
    /* Header et Navigation */
    .main-header {
        padding: 0 15px; /* Un peu moins de marge sur les côtés */
        height: 15vh;    /* Header plus fin sur mobile */
        justify-content: space-between; /* Logo à gauche, Burger à droite */
    }

    /* Le Logo */
    .logo-container {
        margin: 0;
        z-index: 4001; /* Pour qu'il reste cliquable même si menu ouvert (optionnel) */
    }
    
    .logo-img {
        max-height: 80px; /* Logo plus petit */
    }

    /* Le Titre "Christopher Nolan" au milieu */
    .mobile-header-title {
        display: flex; /* On l'affiche */
        flex-direction: column;
        align-items: center;
        position: absolute; /* Centrage absolu */
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Cinzel Decorative', serif;
        color: var(--hover-color);
        font-weight: bold;
        font-size: 1.5rem; /* Taille de police adapté aux smartphones */
        line-height: 1.1;
        text-align: center;
    }

    /* Le Menu Burger */
    .burger-menu {
        display: block; /* On l'affiche */
        z-index: 5000; /* Au-dessus de tout le reste */
    }

    /* Le Panneau de Menu (Caché par défaut) */
    .nav-menu {
        position: fixed;
        top: 80px; /* Hauteur du header mobile */
        left: -100%; /* Caché à gauche */
        width: 100%;
        height: calc(100vh - 80px);
        background-color: var(--secondary-color);
        flex-direction: column;
        transition: 0.4s ease-in-out;
        z-index: 3900;
        padding-top: 20px;
        overflow-y: auto; /* Scroll si menu trop long */
    }

    .nav-menu.active {
        left: 0; /* Il apparaît */
    }

    .nav-menu > ul {
        flex-direction: column; /* Dispostion en colonne */
        justify-content: flex-start;
        gap: 15px;
    }

    /* Les liens du menu (plus gros pour le doigt) */
    .nav-btn {
        width: 100%;
        text-align: center;
        padding: 15px;
        font-size: 1.1rem;
        background-color: transparent; /* Fond transparent sur mobile pour alléger */
        color: var(--white);
        box-shadow: none;
        border-bottom: 1px solid rgba(255,255,255,0.1);
        border-radius: 0;
    }
    
    /* Ici le hover représente un tapotement sur l'écran */
    .nav-btn:hover {
        background-color: rgba(0,0,0,0.2); 
        transform: none;
    }

    /* Dropdown Mobile : Clic pour ouvrir (statique) */
    .dropdown:hover .submenu, .dropdown.active .submenu {
        position: static;
        width: 100%;
        transform: none;
        background-color: rgba(0,0,0,0.2);
        box-shadow: none;
        display: flex; 
    }

    .contenu {
        position: relative;
        height: 85vh;
        display: block; 
        padding-top: 5vh;
        padding-bottom: 0; 
        min-height: auto; /* La hauteur s'adapte au contenu */
    }

    /* On cache le gros titre H1 car on l'a mis dans le header */
    .contenu-title-box {
        display: none; 
    }

    /* Slide show mobile */
    .conteneur {
        display: block; /* On le transforme en bloc simple */
        width: 90%; /* Marges sur les côtés */
        height: auto; /* Hauteur libre selon le texte */
        min-height: 450px; /* Sécurité */
        margin: 40px auto; /* Centré horizontalement + marges haut/bas */  
        background-color: rgba(117, 117, 117, 0.8); 
        border-radius: 15px; /* Arrondi partout */
    }

    /* Les Slides */
    .mySlides {
        flex-direction: column-reverse; /* L'image en haut et le texte en bas */
        height: auto;
    }
    
    /* Force l'affichage en flex quand actif (important pour le column-reverse) */
    .mySlides.active-slide {
        display: flex !important; 
    }

    .conteneur-img {
        width: 100%;
        height: 200px; /* Hauteur fixe pour l'image */
        padding: 0;
    }

    .conteneur-img img {
        border-radius: 15px 15px 0 0; /* Arrondi haut seulement */
    }

    /* Propriétés spécifiques pour dimension smartphone */
    .conteneur-text {
        width: 100%;
        padding: 5px;
        font-size: 0.95rem;
        padding-bottom: 20px; 
    }

    /* Les flèches au milieu de l'image */
    .prev, .next {
        top: 100px; /* Moitié de la hauteur de l'image (200px / 2) */
        padding: 10px;
        background-color: rgba(0,0,0,0.5);
    }
    
    .prev { 
        left: 0;
        border-radius: 0 5px 5px 0; 
    }
    .next { 
        right: 0;
        border-radius: 5px 0 0 5px; 
    }

    /* Les points en bas du conteneur */
    .dots-container {
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 100%;
    }
    
    /* Modification footer */
    footer {
        height: 5vh;
        padding-bottom: 5vh;
    }

    footer p{
        font-size: 0.5em;
    }

    .photo-gallery {
        grid-template-columns: 1fr; /* On passe à 1 colonne */
        gap: 1.5vh; /* Réduction du gap sur mobile */
        padding: 0 1vh; /* Réduction du padding horizontal si nécessaire */
    }

    .gallery-item {
        height: 25vh; /* Hauteur plus réduite pour les petits écrans */
    }

    .parallax1 {
    background-position: top left; /* Pour montrer le contenu important de l'image */
    }

    .quiz-page-content {
        width: 95%; /* Agrandissement du quiz */
    }

    .quiz-card h2 {
        font-size: 1rem; /* Diminution de la taille de police d'écriture */
    }

    .answers-container label {
        font-size: 1rem; /* Diminution de la taille de police d'écriture */
    }
    .quiz-page-content h1 {
        font-size: 1.6rem; /* Diminution de la taille de police d'écriture */
    }

    .question-text {
        font-size: 0.9rem;
        padding-top: 1vh; /* Diminution de la marge */
    }

    #score-display {
        font-size: 1rem; /* Diminution de la taille de police d'écriture */
    }

    .collab-grid { 
        grid-template-columns: repeat(2, 1fr); /* Texte plus petit pour éviter les retours à la ligne excessifs */
    }

    /* Si le dernier élément est impair, on le centre (réalisé avec IA) */
    .collab-grid > *:last-child:nth-child(odd) {
        grid-column: 1 / -1; /* prend toute la largeur de la grille */
        justify-self: center;
        max-width: 70%; /* optionnel : évite qu’il soit trop large */
    }

    .collab-master h2 {
        font-size: 2rem; /* Réduction du titre principal pour un affichage confortable sur petits écrans */
    }

    .collab-detail p{
        font-size: 0.8rem;  /* Texte plus petit pour éviter les retours à la ligne excessifs */
    }

    .credits h2 {
        font-size: 2rem; /* Harmonisation de la taille des titres sur mobile */
    }
    .conteneur-2-text {
        font-size: 1.7rem;  /* Ajustement du texte central pour rester lisible sans dominer tout l’écran */
    }

    .timeline::after {
        display: none; /* Cache la ligne verticale centrale */
    }

    .container {
        width: 100%;
        padding: 5px; /* Marge autour de chaque carte */
        margin-bottom: 20px; /* Espace entre les cartes */
    }

    /* Cache le cercle et la flèche sur TOUS les conteneurs */
    .container::after, .container::before, .left::before, .right::before {
        display: none;
    }

    /* Le contenu (la date et le texte) doit être redessiné en bloc simple */
    .content {
        padding-left: 2vh; /* Marges internes adaptées au petit écran */
        padding-right: 2vh;
        text-align: left; /* Texte aligné à gauche */
    }

    .timeline h2 {
        font-size: 3rem; /* Réduction de la taille de la date */
        text-align: center; /* S'assurer que la date est alignée à gauche */
        width: 100%; /* La date prend toute la largeur */
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .content p {
        color: var(--light-bg); 
        padding: 0; /* Pas de padding inutile */
        text-align: justify; /* Justification pour un rendu plus “propre” sur mobile */
    }
}